@import "tailwindcss";

:root {
  --primary: #343C6A;
  --secondary: #718EBF;
  --accent: #396AFF;
  --background-light: #F5F7FA;
  --background-dark: #232323;
  --background-muted: #DFEAF2;
  --background-alt: #E6EFF5;

  --text-primary: #232323;
  --text-secondary: #B1B1B1;
  --text-muted: #8BA3CB;
  --light-blue: #E7EDFF;
  --input-background: #EDF1F7;
  --highlight: #FFBB38;
  --success: #41D4A8;
  --warning: #FC7900;
  --danger: #FF4B4A;
  --muted: #9199AF80;
  --overlay: #00000033;
  --transparent-white: #FFFFFFB2;
  --semi-transparent-white: #FFFFFF80;
  --teal: #16DBCC;
  --gradient-blue: #2D60FF;
  --gradient-dark: #5B5A6F;
  --gradient-light: #E0E0E0;
  --gradient-white: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%);
  --pastel-blue: #DCFAF8;
  --soft-yellow: #FFF5D9;
  --light-gray: #f3f3f5;
  --line-bar: #1814F3;
}


@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-background-muted: var(--background-muted);
  --color-background-alt: var(--background-alt);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-light-blue: var(--light-blue);
  --color-input-background: var(--input-background);
  --color-highlight: var(--highlight);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-muted: var(--muted);
  --color-overlay: var(--overlay);
  --color-transparent-white: var(--transparent-white);
  --color-semi-transparent-white: var(--semi-transparent-white);
  --color-teal: var(--teal);
  --color-gradient-blue: var(--gradient-blue);
  --color-gradient-dark: var(--gradient-dark);
  --color-gradient-light: var(--gradient-light);
  --color-gradient-white: var(--gradient-white);
  --color-pastel-blue: var(--pastel-blue);
  --color-soft-yellow: var(--soft-yellow);
  --color-light-gray: var(--light-gray);
  --color-line-bar: var(--line-bar);
}

body {
  background: var(--background-light);
  color: var(--primary);
  font-family: var(--font-inter);
  box-sizing: border-box;
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}